<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head> 
<body>
	<style>
		html {
			height: 100%;
			  overflow: hidden;
		}
	</style>
	<div class="flex flex-column h-100 sans-serif bg-near-white">
		<header></header>
		<main class="xpv2 xph2 dark-gray flex h-100">
			
		</main>
	</div>
    <section  >


		<header class="w-100 pa3 ba bl-0 b--black-10 bg-white flex items-start">

			

		</header>
		<header class="w-100 pa3 ba bl-0 b--black-10 bg-white flex items-start">

			<div class="flex mr2">
				<!-- <label for="template" class="db gray ttu f6 tracked fw6 pb2 mr2">{{port}} template</label> -->
				<button class="b--black-10 br2 ba white bg-blue pa2" onclick="_n.qs('[import]').classList.toggle('toggle')">
					<svg width="17" height="17" viewBox="0 0 24 24" ><use href="#icon-download"/></svg>
				</button>
			</div>
			<div>
			
				<div class="flex db f6 pb2 b--gray justify-between">
					<!-- <label for="shop" class="active-bb bw2 ph2 mr2">Shop</label>  -->
					<label for="theme" class="gray ttu tracked fw6"><span>Source</span> Theme</label>
					<select name="" id="" class="blue no-underline bg-transparent bn f6" onchange="app.shops.source = this.value; app.themes.get('source')">
						{% for site in config.multisite %}
							{% if shops.source == site.subdomain %}
								<option value="{{ site.subdomain }}" selected>{{ site.name }}</option> 
							{% else %}
								<option value="{{ site.subdomain }}">{{ site.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>			
			
			{% assign selected = themes.selected[port].id | plus: 0 %}

				<select name="theme" id="theme" class="db w-100 bg-near-white gray pa2 br2 ba b--black-10 f6" onchange="app.themes.select('{{ port }}', this.value)">
					{% for theme in themes.source %}
						{% if selected == theme.id %}
						<option value="{{ theme.id }}" selected>{{ theme.name }}</option>
						{% else %}
						<option value="{{ theme.id }}">{{ theme.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

		</header>


	</section>
</body>
</html>